clientPort=2181
dataDir=/var/lib/zookeeper/data
dataLogDir=/var/lib/zookeeper/log
tickTime={{ tick_time }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}
maxClientCnxns={{ max_client_cnxns }}
minSessionTimeout={{ min_session_timeout }}
maxSessionTimeout={{ max_session_timeout }}
autopurge.snapRetainCount={{ autopurge_snap_retain_count }}
autopurge.purgeInterval={{ autopurge_purge_interval }}
